<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <a class="navbar-brand" href="#">Swift Contacts</a>
  <div ngbDropdown class="d-inline-block" *ngIf="loggedIn()" class="ml-auto">
    <button class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>
      <i class="fa fa-gear"></i>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
      <button ngbDropdownItem>Action - 1</button>
      <button ngbDropdownItem>Another Action</button>
      <button ngbDropdownItem>Something else is here</button>
    </div>
    <button class="btn btn-outline-dark ml-3" (click)="logOut()">Logout</button>
  </div>
  
</nav>
