@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

html, body {
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-family: "Lato", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #555459;
    overflow: hidden;
    background: #f8f8f8;
}
main {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

h1 {
    font-size: 25px;
}

form {
    margin-top: 30px;
}

nav {
    background: #fff;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    -webkit-box-shadow:0px 1px 5px #b9b9b9;
    -moz-box-shadow:0px 1px 5px #b9b9b9;
    box-shadow:0px 1px 5px #b9b9b9;
}

img {
    height: 60px;
    width: 60px;
    padding-right: 60px;
}

.login-form {
    background: white;
    border-radius: 8px;
    margin-top: -8%;
    padding: 20px;
    width: 400px;
    margin-top: -200px !important;
    -webkit-box-shadow:0px 1px 5px #b9b9b9;
    -moz-box-shadow:0px 1px 5px #b9b9b9;
    box-shadow:0px 1px 5px #b9b9b9;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form-input {
    margin-top: 8px;
    background: #fff;
    color: #4d4c4d;
    border-radius: 3px;
    padding: 10px;
    font-size: 15px;
    font-family: inherit;
    border: 1px solid #dddddd;
    font-weight: 600;
}

.form-button {
    background: #dddddd;
    color: #4d4c4d;
    border-radius: 3px;
    padding: 10px;
    font-size: 15px;
    font-family: inherit;
    border: 1px solid #dddddd;
    font-weight: 600;
}

.checkmark {
    position: relative;
    top: -5px;
    left: 20px;
}

.remember {
    display: flex;
    flex-direction: row;
}

hr {
    border: 1px solid #dddddd;
    margin-bottom: 20px;
}

.flash-message {
    margin-top: 60px;
}