@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$header-height: 60px;
$warning-color: #DE4C0D;
$success-color: #5DB09D;
$success-message-inset: rgb(104, 194, 173);
$active-color: #4C9689;
$team-bg: #4D5250;
$dark-overlay: rgba(0, 0, 0, .3);
$medium-overlay: rgba(0, 0, 0, .15);
$column-bg: #434745;
$column-size: 270px;
$team-icon-size: 40px;
$team-hover-border-size: 3px;
$channel-text-color: rgba(255, 255, 255, 0.6);

$large-spacing: 15px;
$medium-spacing: 10px;
$small-spacing: 5px;

$username-size: 12px;
$medium-text: 16px;
$big-text: 20px;

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-family: "Lato", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #555459;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
}


aside {
    background-color: $column-bg;
    color: white;
    width: $column-size;
    height: 100%;
    display: flex;
}

.menu {
    position: fixed;
}

.teams {
    padding-top: $header-height - $large-spacing;
    background: $dark-overlay;
    width: $header-height;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team {
    margin-top: $large-spacing;
    height: $team-icon-size;
    width: $team-icon-size;
    border-radius: 5px;
    background: $team-bg;
    display: flex;
    align-content: center;
    justify-content: center;
    &:hover {
        border: solid $team-hover-border-size $dark-overlay;
        height: $team-hover-border-size + $team-icon-size;
        width: $team-hover-border-size + $team-icon-size;
        margin-top: $large-spacing - $team-hover-border-size;
    }
    &.active {
        -webkit-box-shadow:0px 0px 0px 5\3px $active-color;
    -moz-box-shadow:0px 0px  0px 3px $active-color;
    box-shadow:0px 0px 0px 3px $active-color;
    }
}

.team-name {
    text-transform: uppercase;
    color: white;
    font-size: $big-text;
    align-self: center;
}

.workspace-column {
    padding-top: $large-spacing;
    width: $column-size - $header-height;
    display: flex;
    flex-direction: column;
    padding-left: $large-spacing;
    .workspace-name {
        font-size: $big-text;
    }
    h4 {
        margin-top: $large-spacing;
        margin-bottom: -$medium-spacing;
        color: $channel-text-color;
        &:hover {
            color: white;
        }
    }

}

.channel-list, .user-list {
    margin-left: -$large-spacing;
    padding-top: $small-spacing;
    padding-bottom: $small-spacing; 
    padding-left: $large-spacing;
    color: $channel-text-color;
    p {
        padding-left: $small-spacing;
    }
    a {
        color: $channel-text-color;
    }

    &:hover {
        color: white;
        background: $medium-overlay;
    }
    &.active {
        background: $active-color;
        color: white;
    }

    .indicator {
        margin-right: $large-spacing;
        #active {
            color: $success-color;
        }
    }
}

.username-text {
    margin-top: $large-spacing;
    margin-bottom: $large-spacing;
    font-size: $username-size;
}

.notification {
    position: relative;
    top: 20px;
    left: $column-size - 100px;
}

.add-channel {
    color: $channel-text-color;
    position: relative;
    left: $column-size - 100;
    top: -5px;
    &:hover {
        color: #fff;
    }
}

#new-channel-name {
    width: 150px;
}

#add-channel-button {
    position: relative;
    left: 55px;
    top: 9px;
}

.container-fluid {
    margin-left: $column-size;
    padding-bottom: 180px; 
}


.message-bar {
    background: #fff;
    display: flex;
    position: fixed;
    padding-left: 15%;
    bottom: 0;
    margin-left: 0;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 100%;

    button {
        background: $active-color;
    }
    input {
        width: 40%;
        margin-right: 20px;
        border: 3px solid #b9b9b9;
        &:focus {
            border-color: $active-color;
            box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(135, 255, 141, 0.2);
        }
    }
}

.icon {
    color: $channel-text-color;
    &:hover {
        color: white;
    }
}

nav {
    position: fixed;
    margin-right: -$large-spacing;
    padding-left: $large-spacing;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $header-height;
    width: 100%;
    -webkit-box-shadow:0px 1px 5px #b9b9b9;
    -moz-box-shadow:0px 1px 5px #b9b9b9;
    box-shadow:0px 1px 5px #b9b9b9;
}

.navbar, .navbar-brand {
    color: $team-bg;
    ul, li, a {
        color: $team-bg !important; 
    }
}

.main-area {
    margin-top: $large-spacing;
}

.flash-message {
    width: 100%;
    height: $header-height;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    -webkit-box-shadow:0px 1px 5px #b9b9b9;
    -moz-box-shadow:0px 1px 5px #b9b9b9;
    box-shadow:0px 1px 5px #b9b9b9;
    transition: .5s;
    .flash-close {
        position: absolute;
        right: 100px;
    }

    &.hiding {
        position: absolute !important;
        transform: translateY(-$header-height);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

.message {
    z-index: 30;
    margin: 8px;
    border-radius: 7px;
    padding: $large-spacing;
    h1 {
        font-size: 25px;
        margin-bottom: $large-spacing;
    }
    .col-md-1 {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .message-close {
        position: relative;
        float: right;
        top: 5px;
        color: $team-bg;
        &:hover {
            color: $warning-color;
        }
    }
    img {
        height: 35px;
        width: 35px;
    }
    hr {
        margin-top: $medium-spacing;
        margin-bottom: $medium-spacing;
    }
}

.success {
    background: $success-color;
}

.danger {
    background: $warning-color;
}


